.fade-enter {
  opacity: 0;
  transform: translateX(-50px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0px);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s;
}

.route-section {
  position: absolute;
  width: 100%;
}

.main-route-section {
  position: absolute;
  width: 100%;
  z-index: -1;
}
