$sideNavBg: #03a9f4; //侧边导航栏背景色
$sideNavIconSize: 18px; //侧边导航栏大小规格

//14, 93, 211
// 状态颜色
$inProgress: rgb(67, 219, 118);
$completed: rgb(51, 196, 206);
$planning: rgb(206, 51, 90);
$dropped: rgb(128, 128, 128);

//菜单栏的主要样式
@mixin navbarStyle($display, $justify, $align, $padding, $width) {
  position: fixed;
  width: $width;
  height: 100%;
  display: $display;
  justify-items: $justify;
  align-items: $align;
  padding: $padding 0;
  background-color: $sideNavBg;
  i {
    font-size: $sideNavIconSize;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.5);
    }
  }

  img {
    width: $sideNavIconSize;
    height: $sideNavIconSize;
    border-radius: 50%;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.5);
    }
  }
}

//设置图片为圆角样式
@mixin roundedImage($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

//垂直中心样式flex
@mixin flexAlign() {
  display: flex;
  align-items: center;
}

//水平垂直中心样式
@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

//绝对固定位置样式
@mixin positionStyle($size, $postion, $top, $left) {
  position: $postion;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
}

//中心放置 modal样式
@mixin modalStyle($position, $width, $height, $bgColor, $borderRadius) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
  height: $height;
  background-color: $bgColor;
  border-radius: $borderRadius;
}

//组件标题字体样式
@mixin headerTitle() {
  font-size: 20px;
  font-family: title;
}

// 主按钮填充样式
@mixin buttonStyle($color) {
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: $color;
  padding: 5px 20px;
  border-radius: 15px;
  transition: all 0.5s;
  &:hover {
    color: $color;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $color;
    transform: scale(1.2);
  }
}

@mixin buttonPrimary($color) {
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: $color;
  padding: 5px 20px;
  border-radius: 15px;
  transition: all 0.5s;
}

// 次要按钮描边样式
@mixin buttonStroke($stroke) {
  font-size: 13px;
  color: $stroke;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 20px;
  border-radius: 15px;
  border: 1px solid $stroke;
  transition: all 0.5s;
  &:hover {
    color: white;
    background-color: $stroke;
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

// 无序列表标签同行样式
@mixin liTag() {
  margin: 0px 5px 2px 0;
  padding: 2px 10px;
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 20px;
  color: rgb(71, 71, 71);
  border: 1px solid rgb(129, 129, 129);
}
