.friend-container {
  .friend-card-item-container {
    display: grid;
    grid-template-columns: 200px 600px 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .friend-card-avatar {
      margin-right: 40px;
      img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid rgb(201, 201, 201);
      }
    }

    .friend-card-info {
      margin-right: 50px;
      .friend-card-info-name {
        display: flex;
        align-items: center;
        p {
          font-weight: bold;
          color: $sideNavBg;
          font-size: 25px;
          margin-right: 10px;
        }
        div {
          i {
            font-size: 10px;
            margin: 1px 10px 0 0;
            color: rgb(167, 167, 167);
            margin-right: 5px;
          }
          span {
            font-size: 13px;
            color: rgb(88, 87, 87);
            font-family: quicksand;
          }
        }
      }
      .friend-card-info-location {
        color: rgb(66, 66, 66);
        font-weight: bold;
        margin: 10px 0;
        font-size: 14px;
      }

      .friend-card-info-bio {
        font-size: 14px;
      }

      .friend-card-info-skills {
        margin: 15px 0;
        li {
          @include liTag();
        }
      }
    }

    .friend-card-button {
      button {
        @include buttonStroke($sideNavBg);
        margin-right: 25px;
        font-size: 15px;
      }
    }
  }
}

.user-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .user-profile-info-container {
    width: 15%;
    .user-profile-icon-wrap {
      display: flex;
      margin: 15px 0;
      i {
        margin-right: 10px;
      }
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid gray;
    }
    h3 {
      margin: 10px 0 20px 0;
      font-size: 30px;
    }
    p {
      color: rgb(68, 68, 68);
      font-size: 14px;

      i {
        margin-right: 5px;
      }
    }
  }
  .user-profile-repo-wrap {
    width: 50%;
    margin-left: 50px;
    .user-profile-status-wrap {
      margin: 15px 0;
      h4 {
        // padding: 0 20px;
        font-family: quicksand;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }
    }
    .user-profile-repo-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      .user-profile-repo-card {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: white;
        margin: 15px 20px 15px 0;
        padding: 20px;
        min-width: 350px;
        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          .user-profile-repo-card-name {
            font-weight: bold;
            letter-spacing: 1.2px;
          }
        }
        .user-profile-repo-card-desc {
          font-size: 14px;
        }
      }
    }
  }
}
