.friend-container {
  display: grid;
  justify-items: center;

  .friend-card-item-container {
    display: flex;
    align-items: center;
    margin: 15px 0;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid rgb(201, 201, 201);
    }
    .friend-card-item-info {
      margin: 10px 0 0 15px;
      div {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        i {
          font-size: 8px;
          margin: 1px 10px 0 0;
          color: rgb(167, 167, 167);
        }
      }

      button {
        @include buttonStroke($sideNavBg);

        font-size: 12px;
      }
    }
  }
}

.user-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .user-profile-info-container {
    width: 15%;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid gray;
    }
    h3 {
      margin: 10px 0 20px 0;
      font-size: 30px;
    }
    p {
      margin: 15px 0;
      color: rgb(68, 68, 68);
      font-size: 14px;

      i {
        margin-right: 5px;
      }
    }
  }
  .user-profile-repo-wrap {
    width: 50%;

    .user-profile-repo-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

      .user-profile-repo-card {
        border: 1px solid gray;
        margin: 15px 10px;
        padding: 20px;
      }
    }
  }
}
