.messenger-container {
  display: grid;
  grid-template-columns: 3% 20% 60%;
  justify-content: center;
  margin: 30px 50px 30px 115px;
}

// 切换面板
.messenger-panel-container {
  background-color: $sideNavBg;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px;
  justify-items: center;
  padding: 25px 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  i {
    color: white;
    font-size: 20px;
  }
}

//对话框列表
.messenger-list-container {
  height: 85vh;
  overflow-y: scroll;
}
.messenger-list-header {
  height: 8%;
  background-color: rgb(226, 226, 226);
  p {
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
}

.messenger-list-chat-item {
  background-color: white;
  padding: 20px 10px;
  display: flex;
  margin-bottom: 5px;
  h4 {
    font-family: quicksand;
    margin-bottom: 5px;
  }
  p {
    font-size: 13px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

//聊天显示内容
.messenger-chat-container {
  background-color: rgb(238, 238, 238);
  position: relative;

  .messenger-chat-header {
    height: 8%;
    background-color: $sideNavBg;
    border-top-right-radius: 25px;
    color: white;
    p {
      padding: 15px;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }

  .messenger-chat-display-container {
    height: 72%;
    // border: 1px solid blue;
    .messenger-chat-item {
      margin: 15px 20px;
      //   border: 1px solid red;
      width: 500px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
      p {
        border-radius: 15px;
        padding: 15px;
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }

  .chat-sender {
    float: right;
    display: grid;
    grid-template-columns: auto 60px;
    justify-items: right;
    p {
      background-color: $sideNavBg;
      color: white;
      width: fit-content;
    }
  }

  .chat-receiver {
    float: left;
    display: grid;
    grid-template-columns: 60px auto;
    p {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      width: fit-content;
    }
  }

  .messenger-chat-tools-container {
    height: 5%;
    background-color: white;
    color: $sideNavBg;
    padding: 10px 10px;
    i {
      margin-right: 30px;
      font-size: 22px;
    }
  }
  //输入部分
  .messenger-chat-box-container {
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;

    textarea {
      border-bottom-right-radius: 25px;
      resize: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      font-family: quicksand;
      font-size: 16px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0);
      &:focus {
        outline: none;
      }
    }
  }
}

// 好友请求列表
.messenger-list-request-container {
  .messenger-list-request-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    .messenger-list-request-profile {
      display: flex;
      align-items: center;
      h4 {
        font-family: quicksand;
        font-size: 15px;
      }
      p {
        font-size: 12px;
        margin-top: 5px;
        i {
          margin-right: 5px;
        }
      }
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .messenger-list-request-button {
      button {
        @include buttonStroke($sideNavBg);
        font-size: 12px;
        padding: 3px 15px;

        margin-right: 5px;
      }
    }
  }
}

// 通过申请的好友列表
.messenger-list-friend-container {
  .messenger-list-friend-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    .friend-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 20px;
    }
    p {
      font-size: 15px;
    }
    div {
      margin: 0 0px 0 auto;
    }
  }
}
