.messenger-container {
  display: grid;
  grid-template-columns: 20% 60%;
  justify-content: center;
  margin: 30px 50px 30px 115px;
}

//对话框列表
.messenger-list-container {
  height: 85vh;
  overflow-y: scroll;
  //   border-top-left-radius: 25px;
  //   border-bottom-left-radius: 25px;
  margin-right: 10px;
}
.messenger-list-chat-item {
  background-color: white;
  padding: 20px 10px;
  display: flex;
  margin-bottom: 5px;
  h4 {
    font-family: quicksand;
    margin-bottom: 5px;
  }
  p {
    font-size: 13px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

//聊天显示内容
.messenger-chat-container {
  //   border-top-right-radius: 25px;
  //   border-bottom-right-radius: 25px;
  background-color: rgb(238, 238, 238);
  position: relative;

  .messenger-chat-header {
    height: 10%;
    background-color: $sideNavBg;
  }

  .messenger-chat-display-container {
    height: 70%;
    // border: 1px solid blue;
    .messenger-chat-item {
      display: flex;
      margin: 15px 20px;
      //   border: 1px solid red;
      width: 500px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
      p {
        border-radius: 15px;
        padding: 15px;
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }

  .chat-sender {
    float: right;
    p {
      background-color: $sideNavBg;
      color: white;
    }
  }

  .chat-receiver {
    float: left;
    p {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  }

  .messenger-chat-tools-container {
    height: 5%;
    background-color: white;
    color: $sideNavBg;
    padding: 10px 10px;
    i {
      margin-right: 30px;
      font-size: 22px;
    }
  }
  //输入部分
  .messenger-chat-box-container {
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;

    textarea {
      resize: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      font-family: quicksand;
      font-size: 16px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0);
      &:focus {
        outline: none;
      }
    }
  }
}
