.project-form-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;

  .project-form-header-container {
    margin: 10px 0 20px 10px;
    p {
      font-size: 14px;
      color: gray;
      margin: 10px 0 30px 0;
      line-height: 1.5rem;
    }
  }
  .project-tool-input-container {
    margin: 10px 0 20px 0;
    ul {
      margin-left: 10px;
      li {
        @include liTag();
        i {
          margin-right: 10px;
          transition: all 0.5s;
          &:hover {
            color: $sideNavBg;
          }
        }
      }
    }
    .project-add-tool-btn {
      @include buttonStroke($sideNavBg);
      margin: 13px 0 0 10px;
    }
  }

  .project-input-privacy-container {
    margin: 10px 0 0 5px;
    padding: 0 0 10px 0;
    width: 60%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    .project-prompt {
      color: gray;
      font-size: 12px;
      margin-left: 13px;
    }
  }

  .project-input-submit-container {
    text-align: center;
    margin: 50px 0;
    button {
      @include buttonStyle($sideNavBg);
      border: 1px solid rgba(0, 0, 0, 0);
      margin: 0 30px;
    }
  }
}
