.setting-container {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
  .setting-side-nav {
    max-width: 150px;
    height: 40vh;
    margin-right: 50px;
    padding: 25px;
    a {
      display: block;
      font-family: raleway;
      color: rgb(148, 148, 148);
      margin-bottom: 20px;
      font-size: 16px;
      text-align: right;
      transition: all 0.5s;
      &:hover {
        color: $sideNavBg;
      }
    }
  }
  .setting-content-container {
    padding: 25px;
    width: 40%;
    .setting-content-intro {
      h2 {
        font-size: 30px;
        font-family: title;
      }
      p {
        margin: 10px 0;
      }
    }
    h3 {
      margin: 20px 0;
    }
    .setting-content-profile-header {
      @include flexAlign();
      margin-top: 20px;
      img {
        @include roundedImage(100px);
        margin-right: 30px;
      }
      button {
        @include buttonStroke($sideNavBg);
      }
    }
    .setting-content-save {
      text-align: center;
      margin-top: 20px;
      button {
        @include buttonStyle($sideNavBg);
        border: 1px solid rgba(0, 0, 0, 0);
      }
    }
    .setting-content-background {
      .setting-content-background-demo {
        img {
          width: 600px;
          height: auto;
        }
      }
      .setting-content-background-options {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
    .setting-content-lang-list {
      @include flexCenter(space-between);
      margin: 15px 0;

      .setting-content-country-flag {
        @include flexAlign();
        img {
          width: 40px;
          margin-left: 20px;
        }
      }
    }
    .setting-content-changelog {
      margin-top: 30px;
      h4 {
        font-size: 22px;
        font-family: title;
        margin: 20px 0;
        span {
          color: #8a8a8a;
          font-weight: normal;
          font-size: 14px;
          font-family: raleway;
          margin-left: 10px;
        }
      }
      .setting-content-changelog-block {
        margin: 30px 0;
        p {
          margin: 20px 0;
          font-size: 14px;
          span {
            background-color: $sideNavBg;
            color: white;
            padding: 5px 12px;
            margin: 10px 10px 10px 0;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
