.setting-container {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
  .setting-side-nav {
    max-width: 150px;
    height: 40vh;
    margin-right: 25px;
    padding: 25px;
    a {
      display: block;
      font-family: raleway;
      color: rgb(148, 148, 148);
      margin-bottom: 20px;
      font-size: 16px;
      text-align: right;
      transition: all 0.5s;
      &:hover {
        color: $sideNavBg;
      }
    }
  }
  .setting-content-container {
    padding: 25px;
    width: 50%;

    h2 {
      font-size: 30px;
      font-family: title;
    }
    h3 {
      margin: 20px 0;
    }
    .setting-content-profile-header {
      @include flexAlign();
      margin-top: 20px;
      img {
        @include roundedImage(100px);
        margin-right: 30px;
      }
      button {
        @include buttonStroke($sideNavBg);
      }
    }
    .setting-content-theme-sample-wrap {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      row-gap: 20px;
      .setting-content-theme-sample {
        text-align: center;
        p {
          margin: 5px 0;
          width: 80px;
        }
        div {
          width: 80px;
          height: 80px;
        }
      }
    }

    .setting-content-save {
      text-align: center;
      margin-top: 20px;
      button {
        @include buttonStyle($sideNavBg);
        border: 1px solid rgba(0, 0, 0, 0);
      }
    }
  }
}
