.project-status-container {
  @include flexCenter(space-evenly);
  background-color: white;
  border-radius: 25px;
  padding: 20px 0;
  width: 85%;
  margin: 0 auto;
  .project-status-item-container {
    text-align: center;
    p {
      margin: 20px 0 0 0;
      font-size: 20px;
    }
  }
}
