.group-queue-container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  height: 600px;
  padding: 30px 0;
  h3 {
    text-align: center;
  }
  .queue-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid gray;
    }
    p {
      i {
        margin-right: 5px;
      }
    }
  }
}

.group-container {
  // border: 1px solid red;
  // width: 90%;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  .group-header-container {
    text-align: center;
    p {
      margin: 20px 0;
      font-size: 14px;
    }
    button {
      @include buttonStroke($sideNavBg);
      margin-right: 15px;
    }
    margin: 0 0 50px 0;
  }
  .group-project-list-container {
    margin: 15px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
  }
}

.group-list-post-container {
  margin-bottom: 50px;
}

.group-list-container {
  button {
    @include buttonStroke(#03a9f4);
  }
}
