.group-queue-container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 60%;

  padding: 30px 0;
  border-radius: 10px;

  h3 {
    font-family: quicksand;
    margin: 20px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $sideNavBg;
  }

  .group-no-result {
    margin: 0 50px;
  }
  .queue-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 3fr;
    align-items: center;
    justify-items: center;
    margin: 5px 0;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $sideNavBg;
    }
    p {
      i {
        margin-right: 5px;
        color: $sideNavBg;
      }
    }
  }
}

.group-container {
  // border: 1px solid red;
  // width: 90%;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  .group-header-container {
    text-align: center;
    p {
      margin: 20px 0;
      font-size: 14px;
    }
    margin: 0 0 50px 0;
  }
  .group-filter-container {
    border: 1px solid red;
    button {
      @include buttonStroke($sideNavBg);
      margin-right: 15px;
    }
  }
  .group-project-list-container {
    margin: 15px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
  }
}

.group-list-post-container {
  margin-bottom: 50px;
}

.group-list-container {
  button {
    @include buttonStroke(#03a9f4);
    margin-right: 20px;
  }
}

.group-list-result {
  background-color: #c2ecffab;
  border-radius: 10px;
  padding: 5px 10px;
  color: #03a9f4;
  font-weight: bold;
  font-size: 12px;

  letter-spacing: 1px;
  width: 70px;
  text-align: center;
}

.group-queue-contributor {
  width: 80px;
  display: grid;
  justify-items: center;
  margin-right: 30px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid gray;
  }
}

.group-queue-team-status-container {
  display: flex;
  margin: 0 50px;
}
