.logout-container {
  background: url('/images/logout-2.jpg') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 200px;
  }
}
