@mixin roundProfile($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

.filter-title {
  font-size: 23px;
  font-family: raleway;
  margin: 20px 0 10px 40px;
}

.board-schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    color: white;
    background: #2dc79e;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 50px;
    &:focus {
      outline: none;
    }
  }
}

.board-container {
  padding: 20px 20px 30px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 40px;
}

.card-container {
  width: 400px;
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid #2dc79e;
  border-radius: 25px;
  color: #2dc79e;
  position: relative;
  p {
    margin: 10px 0;
  }
  ul {
    font-size: 13px;
    list-style: none;
  }
  .title-container {
    display: flex;
    align-items: center;
    h4 {
      padding-left: 15px;
    }
    p {
      color: #2dc79e;
      margin-left: auto;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
  .desc-container {
    .desc-wrap {
      display: flex;
      i {
        font-size: 14px;
        margin-top: 5px;
        margin-right: 13px;
        color: #2dc79e;
      }
    }
    p {
      font-size: 15px;
    }
    .desc-start-date {
      font-size: 12px;
      color: gray;
    }
    i {
      font-size: 10px;
      margin-right: 10px;
    }
  }
  .repo-container {
    font-size: 14px;

    i {
      margin-right: 12px;
      color: #2dc79e;
    }
  }
  .technology-container {
    margin: 20px 0;
    li {
      display: inline-block;
      background-color: #2dc79e;
      padding: 2px 8px;
      margin-right: 5px;
      color: white;
      border-radius: 5px;
      font-size: 12px;
    }
  }

  .contributor-container {
    img {
      @include roundProfile(30px);
      margin-right: 15px;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #2dc79e;
    border: 1px solid #2dc79e;
    transition: all 0.5s;
    &:focus {
      outline: none;
    }
    &:hover {
      color: white;
      border: 1px solid rgba(0, 0, 0, 1);
      background-color: #000000;
    }
  }
}
