.project-input-modal {
  position: fixed;
  z-index: 3;
  width: 500px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  .project-input-modal-content {
    margin: 0 40px;
    padding: 20px;
  }
  h4 {
    font-size: 22px;
    text-align: center;
    color: #2dc79e;
    margin-bottom: 20px;
  }
  i {
    position: absolute;
    top: 25px;
    left: 55px;
    color: #2dc79e;
  }
  p {
    font-size: 15px;
    color: #177159;
  }
  input {
    height: 25px;
  }

  textarea {
    height: 80px;
    resize: none;
  }

  input,
  textarea,
  select {
    border: 1px solid lightgray;
    transition: 0.5s;
    width: 100%;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 10px 0;
  }
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #2dc79e;
  }

  select {
    &:focus {
      outline: none;
    }
  }

  button {
    padding: 5px 10px;
    font-family: raleway;
    padding: 3px 10px;
    border-radius: 25px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    background-color: rgb(45, 199, 158);
    transition: 0.5s all;
    &:hover {
      color: rgb(45, 199, 158);
      background-color: white;
      border: 1px solid rgb(45, 199, 158);
    }
    &:focus {
      outline: none;
    }
  }
  .technology-container {
    li {
      list-style-type: none;
      display: inline-block;
      background-color: #2dc79e;
      padding: 2px 8px;
      margin-right: 5px;
      color: white;
      border-radius: 5px;
      font-size: 12px;
    }
  }
  .submit-btn {
    text-align: center;
    button {
      font-size: 17px;
    }
  }
  .input-btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
