.header-container {
  position: absolute;
  left: $homeLeftSlice;
  width: 75%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;

  button {
    font-family: raleway;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    background-color: rgb(45, 199, 158);
    transition: 0.5s all;
    &:hover {
      color: rgb(45, 199, 158);
      background-color: white;
      border: 1px solid rgb(45, 199, 158);
    }
    &:focus {
      outline: none;
    }
  }
}
