.logo {
  width: 40px;
  height: 40px;
  padding: 20px;
}

.side-navbar {
  position: fixed;
  width: 80px;
  height: 100%;
  background-color: white;
}

.side-navbar-icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: (70px)[4];
      grid-template-rows: repeat(4, 70px);
}

.side-navbar-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.home-container {
  position: absolute;
  left: 80px;
  background-color: #f7f7f7;
  height: 100%;
  width: 75%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 80px;
  margin-left: 20px;
}

.header-container {
  position: absolute;
  left: 80px;
  width: 75%;
  margin-top: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

.header-container button {
  font-family: raleway;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  background-color: #2dc79e;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header-container button:hover {
  color: #2dc79e;
  background-color: white;
  border: 1px solid #2dc79e;
}

.header-container button:focus {
  outline: none;
}

.information-container {
  position: fixed;
  left: 83%;
  margin-top: 100px;
  width: 250px;
}

.collection-container .greeting {
  font-size: 20px;
  font-family: raleway;
  margin-bottom: 10px;
}

.collection-container .greeting .user-name {
  font-weight: bold;
  padding-left: 5px;
}

.collection-container .user-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.status-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 20px;
  margin: 20px 20px 0 0;
}

.status-container .collection-caption {
  font-family: raleway;
  color: #b8b8b8;
  font-size: 13px;
  margin-bottom: 5px;
}

.status-container .collection-count {
  font-size: 20px;
  letter-spacing: 1px;
}

.status-container .collection-line {
  margin-right: 5px;
}

.project-input-modal {
  position: fixed;
  z-index: 3;
  width: 500px;
  padding-bottom: 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-input-modal .project-input-modal-content {
  margin: 0 40px;
}

.project-input-modal .create-project-tit {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #48abff;
}

.project-input-modal p {
  font-size: 15px;
}

.project-input-modal input {
  height: 25px;
}

.project-input-modal textarea {
  height: 80px;
  resize: none;
}

.project-input-modal input,
.project-input-modal textarea {
  border: 1px solid lightgray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
  padding: 2px 5px;
}

.project-input-modal input[type="text"]:focus,
.project-input-modal textarea:focus {
  outline: none;
  border: 1px solid #48abff;
}

.project-input-modal select:focus {
  outline: none;
}

.board-container {
  padding: 50px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 40px;
}

.card-container {
  width: 400px;
  padding: 25px;
  background-color: white;
  border-radius: 25px;
}

.card-container p {
  margin: 10px 0;
}

.card-container ul {
  font-size: 13px;
  list-style: none;
}

.card-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .title-container h4 {
  padding-left: 15px;
}

.card-container .title-container p {
  color: #2dc79e;
  margin-left: auto;
}

.card-container .title-container img {
  width: 25px;
  height: 25px;
}

.card-container .desc-container p {
  font-size: 14px;
}

.card-container .desc-container .desc-start-date {
  font-size: 12px;
  color: gray;
}

.card-container .desc-container i {
  margin-right: 10px;
}

.card-container .repo-container {
  font-size: 14px;
  color: #2dc79e;
  font-family: raleway;
}

.card-container .repo-container i {
  margin-right: 10px;
  color: #2dc79e;
}

.card-container .technology-container {
  margin: 20px 0;
}

.card-container .technology-container li {
  display: inline-block;
  background-color: #2dc79e;
  padding: 2px 8px;
  margin-right: 5px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.card-container .contributor-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

@font-face {
  font-family: raleway;
  src: url("../font/Raleway-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}
