@import "./sidenav";
@import "./home";
@import "./header";
@import "./information";
@import "./createproject";

@font-face {
  font-family: raleway;
  src: url("../font/Raleway-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}
