$storyImgSize: 50px;
.overlay-post {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.moment-editor-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  z-index: 2;
  .moment-editor-textarea {
    position: relative;
    img {
      width: $storyImgSize;
      height: $storyImgSize;
      border-radius: 50%;
      border: 1px solid rgb(216, 216, 216);
      position: absolute;
      top: 20px;
      left: 20px;
    }
    textarea {
      border-radius: 15px;
      width: 100%;
      height: 100px;
      resize: none;
      font-family: raleway;
      font-size: 15px;
      padding: 20px 20px 20px $storyImgSize + 40px;
      background-color: rgb(255, 255, 255);
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .moment-editor-social {
    position: absolute;
    bottom: 20px;
    left: 20px;
    @include flexAlign();
    button {
      margin-right: 20px;
      @include buttonStroke($sideNavBg);
    }
    input {
      display: none;
    }
    i {
      font-size: 25px;
      margin-right: 20px;
      color: $sideNavBg;
    }
  }
}

.moment-story-card-wrap {
  padding: 10px;
  width: 800px;
  margin: 0 auto;
}

.moment-story-card-container {
  display: flex;
  margin: 20px;
  background-color: white;
  padding: 20px;
  .moment-story-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  div {
    .moment-story-name {
      font-size: 18px;
      font-weight: bold;
    }
    .moment-story-time {
      font-size: 13px;
      font-weight: normal;
      color: gray;
    }
    .moment-story-content {
      margin: 10px 0;
      font-size: 14px;
    }
    .moment-story-image {
      width: 30vw;
      height: auto;
      border-radius: 0;
    }
    .moment-story-social-container {
      i {
        margin-right: 30px;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}

.post-moment-container {
  position: fixed;
  bottom: 50px;
  right: 75px;
  i {
    font-size: 30px;
    color: $sideNavBg;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.5s;
    &:hover {
      color: white;
      background-color: $sideNavBg;
      transform: scale(1.2);
    }
  }
}
