$storyImgSize: 50px;

.moment-editor-container {
  position: relative;
  margin-left: 20px;
  .moment-editor-textarea {
    position: relative;

    img {
      width: $storyImgSize;
      height: $storyImgSize;
      border-radius: 50%;
      border: 1px solid rgb(216, 216, 216);
      position: absolute;
      top: 20px;
      left: 20px;
    }
    textarea {
      border-radius: 15px;
      width: 100%;
      height: 100px;
      resize: none;
      font-family: raleway;
      font-size: 15px;
      padding: 20px 20px 20px $storyImgSize + 40px;
      background-color: rgb(255, 255, 255);
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .moment-editor-social {
    position: absolute;
    bottom: 20px;
    left: 20px;
    @include flexAlign();
    button {
      margin-right: 20px;
      @include buttonStroke($sideNavBg);
    }
    input {
      display: none;
    }
    i {
      font-size: 25px;
      margin-right: 20px;
      color: $sideNavBg;
    }
  }
}

.moment-story-card-container {
  display: flex;
  margin: 20px 0 0 20px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .moment-story-name {
    font-size: 18px;
    font-weight: bold;
  }
  .moment-story-time {
    font-size: 13px;
    font-weight: normal;
    color: gray;
  }
  .moment-story-content {
    margin: 10px 0;
    font-size: 14px;
  }
}

.moment-story-social-container {
  i {
    margin-right: 20px;
  }
}
