.notification-menu {
  position: relative;
}
.notification-modal-wrap {
  position: absolute;
  top: 70px;
  left: -154px;
}
.notification-modal-preview {
  position: relative;
  background: #ffffff;
  min-height: 200px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0px 11px 11px -1px rgba(0, 0, 0, 0.31);
  z-index: 2;
  padding-bottom: 5px;
  a {
    color: black;
  }
}

.notification-modal-preview:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;

  border-width: 0 12px 20px;
  top: -15px;
  left: 50%;
  margin-left: -10px;
}

.notification-item {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 10px;
  display: flex;
  transition: all 0.5s;
  &:hover {
    background-color: $sideNavBg;
    color: white;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 10px 0 15px;
  }
  .notification-item-category {
    font-weight: bold;
  }
  .notification-item-text {
    padding: 15px 15px 0 0;
    font-size: 14px;
  }
  .notification-item-msg {
    font-size: 12px;
    margin: 8px 0;
    font-weight: normal;
  }
  .notification-item-time {
    font-size: 10px;
    margin-right: 5px;
  }
}

.notification-item-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  button {
    @include buttonStroke($sideNavBg);
    font-size: 12px;

    margin: 0 5px 10px 0;
  }
}

.notification-item-list {
  margin-bottom: 60px;
}

.notification-container {
  .notification-item-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 50%;
  }
  a {
    color: black;
  }
  .notification-card {
    // margin: 15px 0;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 25px;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 15px;
    }
    .notification-card-time {
      margin-left: auto;
      font-size: 10px;
    }

    .notification-card-category {
      font-weight: bold;
    }
    .notification-card-text {
      // padding: 15px 15px 0 0;
      font-size: 14px;
    }
    .notification-card-msg {
      font-size: 13px;
      margin: 8px 0;
      font-weight: normal;
    }
  }
}
