.hitokoto-container {
  //   border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  padding: 10px 10px;
  width: 85%;
  margin: 0 auto;
  .hitokoto-content {
    font-size: 15px;
    margin: 10px 0;
  }

  .hitokoto-from {
    font-size: 12px;
    margin: 10px 0;
    font-weight: bold;
  }
}
