.hitokoto-container {
  //   border: 1px solid black;
  text-align: center;
  padding: 5px 50px;
  width: 70%;
  margin: 0 auto;
  .hitokoto-content {
    font-size: 15px;
    margin: 10px 0;
  }

  .hitokoto-from {
    font-size: 12px;
    margin: 10px 0;
  }
}
