@import './hitokoto';
@import './projectcard';

.home-container {
  padding: 30px 0;
}

.create-btn-container {
  position: absolute;
  bottom: 50px;
  right: 75px;
  background-color: rgb(255, 255, 255);
  img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    &:hover {
      transform: rotate(-360deg) scale(1.5);
    }
  }
}
