.project-header-container {
  @include flexCenter(space-between);
  align-items: flex-start;
  padding: 0 80px;
  margin-top: 50px;
  h3 {
    font-size: 30px;
  }
  .project-header-filter {
    // select {
    //   margin-right: 30px;
    // }

    .MuiInputBase-root {
      font-size: 13px;
    }

    button {
      @include buttonStyle($sideNavBg);
      border: 1px solid white;
      margin-left: 30px;
    }
  }
}
