.project-header-container {
  @include flexCenter(space-between);
  align-items: flex-start;
  padding: 0 80px;
  margin-top: 50px;
  h3 {
    font-size: 30px;
  }
  .project-header-filter {
    .project-header-search {
      position: relative;
      i {
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px 0 0 10px;
        color: rgb(187, 187, 187);
      }
      input {
        margin-right: 30px;
        border-radius: 25px;
        border: 1px solid rgb(187, 187, 187);
        padding: 5px 50px 5px 35px;
        font-size: 13px;
        &:focus {
          outline: none;
        }
      }
    }
    button {
      @include buttonStyle($sideNavBg);
      border: 1px solid white;
      margin-left: 30px;
    }
  }
}
