//所有卡片容器grid排版
.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  row-gap: 30px;
  padding: 25px 50px;

  //每个单一的项目卡片样式化
  .project-card-item {
    width: 330px;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    // box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    opacity: 1;
    .project-line {
      background-color: $inProgress;
      @include positionStyle(4px, absolute, 30px, 0);
      height: 80px;
    }
    .project-header {
      @include flexCenter(space-between);
    }
    .project-title {
      font-family: title;
      font-size: 17px;
    }
    .project-status {
      @include buttonStyle($inProgress);
      &:hover {
        transform: scale(1);
        color: white;
        border: none;
      }
    }
    .project-category {
      font-size: 12px;
      color: gray;
      margin: 10px 0;
    }
    .project-desc {
      font-size: 13px;
      margin: 10px 0;
      line-height: 1.5em;
    }
    .project-tools {
      margin: 15px 0;
      li {
        @include liTag();
      }
    }
    .project-contributor {
      margin: 10px 0;
      img {
        @include roundedImage(35px);
        margin-right: 10px;
      }
    }
    .project-footer {
      @include flexCenter(space-between);
      p {
        font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
          sans-serif;
        font-size: 12px;
        color: gray;
      }
      i {
        color: gray;
      }
    }
  }
}
