//所有卡片容器grid排版
.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  row-gap: 30px;
  padding: 25px 50px;

  //每个单一的项目卡片样式化
  .project-card-item {
    width: 350px;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    // box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    opacity: 1;
    .project-header {
      @include flexCenter(space-between);
    }
    .project-title {
      font-family: title;
      font-size: 20px;
      letter-spacing: 0.5px;
    }
    .project-status {
      font-weight: bold;
      font-size: 13px;
      color: rgb(255, 255, 255);
      background-color: rgb(51, 206, 103);
      padding: 5px 15px;
      border-radius: 15px;
    }
    .project-category {
      font-size: 12px;
      color: gray;
      margin: 10px 0;
    }
    .project-desc {
      font-size: 14px;
      margin: 10px 0;
      line-height: 1.5em;
    }
    .project-tools {
      margin: 15px 0;
      li {
        margin: 0px 5px 2px 0;
        padding: 2px 10px;
        list-style-type: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 20px;
        color: rgb(71, 71, 71);
        border: 1px solid rgb(129, 129, 129);
      }
    }
    .project-contributor {
      margin: 10px 0;
      img {
        @include roundedImage(35px);
        margin-right: 10px;
      }
    }
    .project-footer {
      @include flexCenter(space-between);
      p {
        font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
          sans-serif;
        font-size: 12px;
        color: gray;
      }
      i {
        color: gray;
      }
    }
  }
}
