.hitokoto-container {
  background-image: url('/images/hitokoto.jpg');
  background-size: 100%;
  background-position: center center;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  width: 90%;
  height: 100px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media only screen and (max-width: 900px) {
    height: auto;
  }
  p {
    z-index: 2;
    transition: all 0.5s;
    cursor: pointer;
    padding: 5px 15px;
    &:hover {
      background-color: $sideNavBg;
    }
  }
  .hitokoto-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
  }
  .hitokoto-content {
    font-size: 16px;
    margin: 10px 0;
    letter-spacing: 2px;
  }

  .hitokoto-from {
    font-size: 13px;
    margin: 10px 20px;
    letter-spacing: 0;
  }
}

.create-btn-container {
  position: fixed;
  bottom: 50px;
  right: 75px;
  @media only screen and (max-width: 900px) {
    bottom: 20px;
    right: 30px;
  }

  img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    &:hover {
      transform: rotate(-360deg) scale(1.5);
    }
  }
}

.kanban-container {
  margin-left: 65px;

  section {
    background: #eff1f3;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    min-height: 90vh;
  }

  .iddgrm {
    min-width: 340px;
  }

  .iysiLr {
    font-size: 12px;
  }

  // Add card btn
  .gmyBzk {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    font-size: 13px;
    font-weight: normal;
    background: $sideNavBg;
    padding: 2px 20px;
    transition: all 0.5s;
    &:hover {
      border: 1px solid $sideNavBg;
      background: none;
      color: $sideNavBg;
    }
  }

  // cancel card btn
  .LkxnZ {
    border: 1px solid $sideNavBg;
    border-radius: 25px;
    font-size: 13px;
    font-weight: normal;
    background: none;
    padding: 2px 20px;
    color: $sideNavBg;
    margin-bottom: 10px;
    transition: all 0.5s;
    &:hover {
      background: $sideNavBg;
      border: 1px solid rgba(0, 0, 0, 0);
      color: white;
    }
  }

  .jDKmpp {
    font-size: 13px;
  }

  .kQwQSu {
    font-weight: normal;
  }
  .eIXpSa {
    background: none;
  }
}

.project-no-result-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  p {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    background: $sideNavBg;
    color: white;
    border-radius: 25px;
    padding: 30px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: $sideNavBg;
      border-bottom: 0;
      border-left: 0;
      margin-left: -10px;
      margin-bottom: -20px;
    }
  }
  img {
    width: 400px;
    height: auto;
  }
}

//所有卡片容器grid排版
.project-card-container {
  .project-card-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    row-gap: 30px;
    padding: 25px 50px;
    @media only screen and (max-width: 500px) {
      justify-content: center;
      padding: 10px 0;
    }
  }
}

//每个单一的项目卡片样式化
.project-card-item {
  width: 330px;
  padding: 20px 30px 15px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  margin-bottom: 25px;
  @media only screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 500px) {
    width: 75%;
    margin-bottom: 0;
  }

  .project-line {
    background-color: $inProgress;
    @include positionStyle(4px, absolute, 30px, 0);
    height: 80px;
  }
  .project-header {
    @include flexCenter(space-between);
  }

  .project-author-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .project-title {
    font-family: title;
    font-size: 17px;
  }
  .project-status {
    @include buttonStyle($inProgress);
    &:hover {
      transform: scale(1);
      color: white;
      border: none;
    }
  }
  .project-category {
    font-size: 12px;
    color: gray;
    margin: 10px 0;
  }
  .project-desc {
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.5em;
  }
  .project-tools {
    margin: 15px 0;
    li {
      @include liTag();
      margin-bottom: 5px;
    }
  }
  .project-contributor {
    margin: 10px 0;
    img {
      @include roundedImage(35px);
      margin-right: 10px;
    }
  }
  .project-footer {
    @include flexCenter(space-between);
    p {
      font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
      font-size: 12px;
      color: gray;
    }
    i {
      color: gray;
    }
  }
}

//=================================Explore=====================================
.explore-container {
  display: grid;
  grid-template-columns: 3fr 350px;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .explore-project-list-container {
    // margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    .project-card-item {
      width: 350px;
      margin: 20px 0;
    }
  }

  .explore-author-container {
    // border: 1px solid red;
    text-align: center;
    height: 20%;
    img {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }

  .explore-trending-container {
    padding: 10px 20px;
    height: 40%;
    .explore-trending-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0;
      div {
        display: flex;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
        p {
          font-size: 14px;
        }
      }
      button {
        @include buttonStroke($sideNavBg);
        border-radius: 10px;
        margin-right: 10px;
      }
    }
  }
}

.project-header-container {
  @include flexCenter(space-between);
  align-items: center;
  padding: 0 80px;
  margin-top: 50px;
  @media only screen and (max-width: 1350px) {
    display: grid;
    padding: 0;
    margin: 20px auto 0 auto;
    width: 90%;
  }
  h3 {
    font-size: 30px;
  }
  .project-header-filter {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 850px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @media only screen and (max-width: 500px) {
      .MuiFormControl-root {
        margin-right: 50px;
      }
    }
    .project-header-search {
      position: relative;
      margin-top: 10px;
      i {
        position: absolute;
        left: 0;
        top: 0;
        margin: 8px 0 0 10px;
        color: rgb(187, 187, 187);
      }
      input {
        margin-right: 30px;
        border-radius: 25px;
        border: 1px solid rgb(187, 187, 187);
        padding: 8px 50px 8px 35px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 13px;
        transition: all 0.5s;
        width: 250px;
        &:focus {
          outline: none;
          color: $sideNavBg;
          border: 1px solid $sideNavBg;
        }
      }
    }
    button {
      @include buttonStyle($sideNavBg);
      border: 1px solid white;
      margin-left: 30px;
      @media only screen and (max-width: 1350px) {
        display: none;
      }
    }
  }
}

.project-form-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  @media only screen and (max-width: 550px) {
    margin-top: 0;
    .MuiFormControl-fullWidth {
      width: 90%;
    }
  }

  .project-form-header-container {
    margin: 10px 0 20px 10px;
    p {
      font-size: 14px;
      color: gray;
      margin: 10px 0 30px 0;
      line-height: 1.5rem;
    }
  }
  .project-tool-input-container {
    margin: 10px 0 20px 0;
    ul {
      margin-left: 10px;
      li {
        @include liTag();
        i {
          margin-right: 10px;
          transition: all 0.5s;
          &:hover {
            color: $sideNavBg;
          }
        }
      }
    }
    .project-add-tool-btn {
      @include buttonStroke($sideNavBg);
      margin: 13px 0 0 10px;
    }
  }

  .project-input-privacy-container {
    margin: 10px 0 0 5px;
    padding: 0 0 10px 0;
    width: 60%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    .project-prompt {
      color: gray;
      font-size: 12px;
      margin-left: 13px;
    }
  }

  .project-input-submit-container {
    text-align: center;
    margin: 50px 0;
    button {
      @include buttonStyle($sideNavBg);
      border: 1px solid rgba(0, 0, 0, 0);
      margin: 0 30px;
    }
  }
}
