//反馈modal 模板
.feedback-container {
  @include modalStyle(fixed, 400px, 200px, rgb(255, 255, 255), 25px);
  @include flexCenter(center);
  z-index: 3;

  div {
    text-align: center;
  }
  img {
    width: 100px;
    height: 100px;
    transform: translateY(-40px);
  }
  h3 {
    font-size: 20px;
    transform: translateY(-40px);
  }
  p {
    transform: translateY(-30px);
    font-size: 14px;
  }

  button {
    @include buttonStroke($sideNavBg);
    margin-bottom: 10px;
  }
}

//等待动画
.progress-container {
  @include modalStyle(fixed, 100%, 100%, rgba(0, 0, 0, 0.7), 0);
  @include flexCenter(center);
  z-index: 4;
}
