.signin-container {
  background: url('/images/test.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
}

.signin-ui-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgba(0, 0, 0, 0.3);
  // padding: 50px 100px;
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 60px;
    font-family: title;
  }
  h4 {
    margin: 20px 0;
  }

  .firebaseui-card-content {
    li {
      text-align: left;
    }
  }
}

.signin-ui-text-wrap {
  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}

.firebase-ui-container {
  margin: 0;
}

.signin-subtit {
  margin: 20px 0;
}
