@keyframes zoomAnimation {
  from {
    background-size: 110% 110%;
  }
  to {
    background-size: 100% 100%;
  }
}

.signin-container {
  background: url('/images/login.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100vh;
  color: white;
  text-align: center;
  animation: zoomAnimation 10s;
}

.signin-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.signin-ui-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgba(0, 0, 0, 0.3);
  // padding: 50px 100px;
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 60px;
    font-family: title;
  }
  h4 {
    margin: 20px 0;
  }

  .firebaseui-card-content {
    li {
      text-align: left;
    }
  }
}

.signin-ui-text-wrap {
  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}

.firebase-ui-container {
  margin: 0;
}

.signin-subtit {
  margin: 20px 0;
}
