$sideNavWidth: 65px; //侧边导航栏的宽度
$sideNavIconDist: 50px; //icon之间的距离
$sideNavPadding: 80px; //侧边导航栏与顶部的距离
$logoSize: 50px;

.logo {
  @include positionStyle($logoSize, absolute, 0, 0);
  z-index: 1;
  margin-left: ($sideNavWidth - $logoSize)/2;
  margin-top: 10px;
}

.navbar {
  @include navbarStyle(grid, center, center, $sideNavPadding, $sideNavWidth);
  grid-template-rows: repeat(9, $sideNavIconDist);
}

.user-navbar {
  margin-left: $sideNavWidth;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.75);
  @include flexCenter(space-between);
  padding: 10px 50px 10px 15px;
  h2 {
    @include headerTitle();
  }
  div {
    @include flexAlign();
  }
  i {
    font-size: 20px;
    margin-right: 30px;
  }
  img {
    @include roundedImage(30px);
  }
}
