@import './mixin';

@import './login';
@import './navbar';
@import './feedback';
@import './loading';

@import './home/home';
@import './setting/setting';
@import './common/logout';
// @import './common/particle';

@import './projectform/projectform';

@font-face {
  font-family: raleway;
  src: url('../font/Raleway-Regular.ttf');
}

@font-face {
  font-family: title;
  src: url('../font/Helvetica-Bold.ttf');
}

@font-face {
  font-family: normalText;
  src: url('../font/Helvetica.ttf');
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
li {
  font-family: raleway;
}

hr {
  height: 1px;
  background-color: rgb(199, 199, 199);
  border: none;
}

button:focus {
  outline: none;
}

.component-layout {
  margin-left: $sideNavWidth;
}

body {
  background-color: rgb(247, 247, 247);
  // background: url('/images/test.jpg') no-repeat center center fixed;
  // background-size: cover;
  // height: 100vh;
}
