@import './mixin';

@import './login';
@import './navbar';
@import './feedback';
@import './loading';
@import './animation';

@import './home/home';
@import './setting/setting';
@import './common/logout';
// @import './common/particle';

@import './projectform/projectform';

@font-face {
  font-family: raleway;
  src: url('../font/Raleway-Regular.ttf');
}

@font-face {
  font-family: title;
  src: url('../font/Helvetica-Bold.ttf');
}

@font-face {
  font-family: normalText;
  src: url('../font/Helvetica.ttf');
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

p,
li {
  font-family: raleway;
}

hr {
  height: 1px;
  background-color: rgb(199, 199, 199);
  border: none;
}

button:focus {
  outline: none;
}

.component-layout {
  margin-left: $sideNavWidth;
}

body {
  background-color: rgb(247, 247, 247);
  // background: url('/images/theme/background/2.jpg') no-repeat center center
  //   fixed;
  // background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -3;
}
