@import "./mixin";

@import "./login";
@import "./navbar";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: raleway;
  src: url("../font/Raleway-Regular.ttf");
}
