@import './mixin';

@import './login';
@import './navbar';
@import './feedback';
@import './loading';
@import './animation';

@import './home/home';
@import './status/status';
@import './setting/setting';
@import './moment/moment';
@import './friend/friend';
@import './group/group';

@import './common/logout';
// @import './common/particle';

@import './projectform/projectform';

@font-face {
  font-family: raleway;
  src: url('../font/Raleway-Regular.ttf');
}

@font-face {
  font-family: title;
  src: url('../font/Helvetica-Bold.ttf');
}

@font-face {
  font-family: normalText;
  src: url('../font/Helvetica.ttf');
}

@font-face {
  font-family: quicksand;
  src: url('../font/Quicksand.ttf');
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

p,
li {
  font-family: quicksand;
}

hr {
  height: 1px;
  background-color: rgb(199, 199, 199);
  border: none;
}

button:focus {
  outline: none;
}

.component-layout {
  margin-left: $sideNavWidth;
  padding: 30px 0;
}

body {
  background-color: rgb(247, 247, 247);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -4;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  opacity: 0.5;
  z-index: -3;
}

.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  object-fit: cover;
}

.background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -3;
  transition: all 2s;
}

.styled-heading {
  font-family: quicksand;
  letter-spacing: 2px;
  margin: 0px 0 30px 0;
  font-size: 25px;
  text-align: center;
}

.navbar-item-container {
  position: relative;
}

.hovered-prompt {
  background-color: $sideNavBg;
  position: absolute;
  left: 60px;
  top: 5px;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
  width: 100px;
  z-index: 3;
}
