.notification-menu {
  position: relative;
}
.notification-modal-wrap {
  position: absolute;
  top: 70px;
  left: -154px;
}
.notification-modal-preview {
  position: relative;
  background: #ffffff;
  min-height: 200px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0px 11px 11px -1px rgba(0, 0, 0, 0.31);
  z-index: 2;
  padding-bottom: 5px;
  a {
    color: $sideNavBg;
  }
}

.notification-modal-preview:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;

  border-width: 0 12px 20px;
  top: -15px;
  left: 50%;
  margin-left: -10px;
}

.notification-item {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 10px;

  display: flex;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 10px 0 15px;
  }
  .notification-item-text {
    padding: 15px 15px 0 0;
    font-size: 14px;
    p {
      font-weight: bold;
    }
  }
  .notification-item-msg {
    color: rgb(94, 94, 94);
    font-size: 12px;
    margin: 8px 0;
    font-weight: normal;
  }
  .notification-item-time {
    color: rgb(165, 165, 165);
    font-size: 10px;
    margin-right: 5px;
  }
}

.notification-item-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  button {
    @include buttonStroke($sideNavBg);
    font-size: 12px;
    margin: 0 20px 10px 0;
  }
}

.notification-item-list {
  margin-bottom: 60px;
}
